* {
    box-sizing: border-box; 
}
        
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #1a1a2e;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;

}

.bridge-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
    flex-wrap: wrap;

}

.tile {
    width: 60px;
    height: 60px;
    border: 3px solid #16213e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: #0f3460;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.player-tile { 
    background-color: #3498db; 
    border-color: #fff;
    box-shadow: 0 0 15px #3498db;
}

.monster-tile { 
    background-color: #e74c3c; 
    border-color: #fff;
    box-shadow: 0 0 15px #e74c3c;

}

h1 {
    font-size: 3rem
    ; margin-bottom: 10px;

}

#msg { 
    font-size: 1.5rem;
    height: 1.6em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
        
        /* Controll */
.controls {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.btn-row {
    display: flex;
    gap: 10px;

}

button {
    padding: 15px 25px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;

}

button:disabled {
    background: #555 !important;
    cursor: not-allowed;

}

.move-btn {
    background: #e94560;
    
}

.dice-btn {
    background: orange;
     color: black; 
            
}

.restart-btn {         
    background: #2121cf;
    width: 100%;
    margin-top: 5px;

}


.hidden {
     display: none;
    
}